/* ---------------------------------------------- *\
    Forms
\* ---------------------------------------------- */

.label {
    display: inline-block;
    vertical-align: middle;
    margin-right: 8px;
}
.label--block {
    display: block;
    margin-bottom: 8px;
}

.text-field {
    display: inline-block;
    vertical-align: middle;
    -webkit-appearance: none;
    border: none;
    outline: none;
    padding: 5px 10px;
}

textarea.text-field {
    resize: none;
    height: 160px;
    width: 100%;
}

.select-field {
    display: inline-block;
    vertical-align: middle;
    -webkit-appearance: none;
    outline: none;
    border: none;
    padding: 10px 15px;
}
