/* ---------------------------------------------- *\
    Sizes
\* ---------------------------------------------- */


$mobile-land: 600px;
$tablet-port: 768px;
$tablet-land: 1024px;
$desktop: 1440px;
